*
{ 
  box-sizing: border-box;
}

body 
{
    font-family: Verdana, sans-serif;
    background-color: #fcfcfc;
    margin: 0;
}

  header 
  {
    display: grid;
    grid-auto-columns: auto auto;
    justify-content: space-evenly;
    font-size: 0.95em;
    margin: auto;
    padding: 1vh 5vw;
    background-color: #fcfcfc;
    opacity: 90%;
    color: #050505;
  }
    #head_contact
    {
      text-align: center;
      z-index: 2;
    }
    #head_contact img{
      width:48px;
    }
    header ul
    {
        padding-inline-start: 0em;
    }

    header h1
    {
      font-size: 2.6em;
      margin: 0.67rem;
    }
  
  .pic {
    position: relative;
  }

  #picture-frame{
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0px;
    right: 0px;
    text-align: right;
    padding-right: 2rem;
    z-index: 1;
  }
  #picture-frame img{
    width:100vw;
    max-width: 25rem;
  }

  nav
  {
    padding-left: 2em;
    padding-right: 0.5em;
  }
    nav ul
    {
      display: grid;
      grid-template-columns: auto;
    }
    nav li 
    {
      display: inline;
      border-radius: 18px;
      color:#992000;
      background-color: #F37959;
      padding: 0.75em;
      margin: 0.25em;
      text-align: center;
    }
  
  a:link 
  {
    text-decoration: none;
    color: #404;
  }

  main 
  {
    display: grid;
    grid-column-gap: 0px;
  }

  main li{
    display: block;
    text-align: left;
    font-size: 0.80rem;
  }
 main li strong{
    padding-left: 5%;
    font-size: 0.90rem;
  }

  .intro {
    min-width: 30%;
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    /* margin: auto; */
  }
  .page {
    text-align: left;
    border: 1px hidden #000;
    padding: 0.5em; 
        padding-bottom: 2em;
    margin: 0px;
    width: 100vw;
  }
  .page ul {
    margin: 0.5em;
    line-height: 1.2em;
  }
  .page h2{
    font-weight: normal;
    text-align: center;
  }
  .page h3{
    font-weight: normal;
    margin-bottom: 0px;
    margin-left: 10%;
  }

  .page h4{
    font-weight: normal;
    margin-left: 10%;
  }
  
  #sketch {
    background-color: #fcb;
    color: #992000;
  }

  #music {
    background-color: #CDF;
    color: #023046;
  }
  
  #other {
    background-color: #cfc;
    color: #366500;
  }

  .hideDeets li{
    display: none;
  }

    /* Changes for widescreen */
    @media only screen and (min-width:820px)
    {
     main 
     {
       grid-template-columns: auto auto auto;
     }
     nav{
       display: none;
     }
     h1
     {
       white-space: nowrap;
     }
     header 
     {
       grid-template-columns: 40% 60%;
     }
       header ul
       {
         grid-template-columns: auto auto auto;
       }
      .page{
        width: 33vw;
      }
    } 